<nav class="navbar navbar-default navbar-expand-md navbar-dark bg-dark fixed-to">

  <style media="screen">
    li a:hover {
      background-color: #111;
      font-size: 130%;
    }
  </style>


    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=""#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"</span>
          <span class="icon-bar"</span>
          <span class="icon-bar"</span>
        </button>
        <a class="navbar-brand" href="/">Home</a>
      </div>

      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/about">About</a></li>
        </ul>

        <div class="search-container nav navbar-nav navbar-right">
          
        </div>

      </div>

    </div>
  </nav>
