<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>S3CostDashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>

  <style>
    body {
      background-image: url("../static/background.jpg");
    }
  </style>  

  <body>
    {% include 'includes/_navbar.html' %}
    <div class="container">
      {% block body %}{% endblock %}
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



  </body>
</html>
